.capital{
    background-color:aquamarine;
    }
.capital2{
    background-color:yellow;
        }
#cities{
    background-color: orange;
    color: blue;
    text-align: center;
    padding: 20px;
}        

