<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>th:action="@{'/simplehome'}" method="post"
<body>
<form action="#" th:action="@{'/animal'}" method="post">
    <label for="animalText">Enter an Animal: </label>
    <input type="text" id="animalText" name="animalText">
    <label for="adjective">Enter an Adjective:</label>
    <input type="text" id="adjective" name="adjective">
    <input type="submit">
</form>
<h1>Hello, homepage!</h1>
<h1>I think that's enough!</h1>
</body>

</html>